:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --serpclr: #dadce0;
        --serpbck: #202124;
        --serpbrdr: #303134;
    }
}

.serpcounter, #tads>div:before, #tadsb>div:before {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    color: var(--serpclr, inherit);
    background: var(--serpbck, white);
    font-weight: 700;
    font-family: 'Google Sans';
    font-size: 100%;
    margin-left: -2.3rem;
    padding: .5rem;
    border: 1px solid;
    border-color: var(--serpbrdr,#dadce0);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#tads>div:before, #tadsb>div:before {
    content: "Ad";
    font-size: 90%;
    margin-left: -2.5rem;
}

#tads>div, #tadsb>div {position: relative}

.ok,.MjjYud {
    position: relative;
}

/* Featured snippet box */
.c2xzTb {
    overflow: visible !important;
}

/* Fix indented results not showing numbers */
.jtfYYd,
.kWxLod {
    overflow: inherit !important;
    contain: inherit!important;
}
